
{% extends 'base.html' %}

{% block content %}
<section class="conditions_of_use">

    <h1>Conditions générales d'utilisation des dons :</h1>
    <ol>
        <li>
            <strong>Respect des conditions :</strong> Les utilisateurs du site de dons doivent accepter et respecter toutes les conditions d'utilisation énoncées avant de faire un don.
        </li>
        <li>
            <strong>Utilisation légale :</strong> Le site de dons ne peut être utilisé que dans le respect des lois et réglementations en vigueur. Tout don pour des activités illégales est strictement interdit.
        </li>
        <li>
            <strong>Transparence des dons :</strong> Tous les dons effectués sur le site seront utilisés pour soutenir la cause déclarée, à savoir la lutte contre la drague lourde des IA.
        </li>
        <li>
            <strong>Pas de remboursements :</strong> Les dons effectués sur le site sont considérés comme définitifs et ne seront pas remboursés, sauf en cas d'erreur de traitement ou de fraude.
        </li>
        <li>
            <strong>Responsabilité de l'utilisateur :</strong> Chaque utilisateur est responsable de la véracité des informations fournies lors du don et garantit être le propriétaire légitime des fonds utilisés.
        </li>
        <li>
            <strong>Droits de propriété intellectuelle :</strong> Le site détient tous les droits de propriété intellectuelle relatifs au contenu du site et aux informations fournies. Aucune reproduction ou utilisation non autorisée n'est permise.
        </li>
        <li>
            <strong>Clause de non-responsabilité :</strong> Le site de dons ne peut être tenu responsable de tout dommage direct ou indirect résultant de l'utilisation du site ou de la collecte de dons pour la cause soutenue.
        </li>
        <li>
            <strong>Modification des conditions :</strong> Le site se réserve le droit de modifier les conditions d'utilisation à tout moment, avec notification préalable aux utilisateurs.
        </li>
        <li>
            <strong>Respect de la cause :</strong> Les utilisateurs s'engagent à soutenir la cause de lutte contre la drague lourde des IA et à ne pas utiliser le site de dons à des fins contraires à cet objectif.
        </li>
        <li>
            <strong>Utilisation de vos données :</strong> Lorsque vous effectuez un don, nous collectons vos données personnelles afin de pouvoir vous envoyer un reçu fiscal. Votre nom, prénom, montant du don, votre possible commentaire, ainsi que la date seront affichés temporairement sur la page d'informations.
        </li>
    </ol>
</section>
{% endblock %}
